/*.button:hover .tooltip{
  display: block;
  bottom: 40px;
  left: 40px;
}

.button:active .tooltip{
  display: block;
  bottom: 40px;
  left: 40px;
}

*/

.reveal-mrt {
  display: none;
}

.reveal-airspeed {
  display: none;
}

.reveal-example-chart {
  display: none;
}


#mrt:checked ~ .reveal-airspeed {
  display: block;
}

#airspeed:checked ~ .reveal-mrt {
  display: block;
}

.bigger-font::after {
  font-size: 20px !important;
}

.example-chart::after {
  background: white;
  background-image: url('https://github.com/buds-lab/psychrometric-chart-makeover/blob/master/app/static/img/chart_example.png?raw=true');
  background-size: 400px 300px;
  display: inline-block;
  width: 100%; 
  height: 300px;
  background-repeat: no-repeat;
  color: black;
}

.example-chart:hover .reveal-example-chart {
  display: block;
}

/*  content: " Your goal is to match the colorbar condition to the plot. First look at the temperature and relative humidity value of the space you are designing for. Now, to make that condition comfortable, you will have to provide the corresponding air speed or mean radiant temperature indicated in the colorbar."  !important;
*/