<!doctype html>
<title>Hello from Flask</title>
<h1>Wow</h1>

<form method="POST">
  <fieldset>
    <legend>Input Data:</legend>
    Metabolic Rate:<br>
    <input type="number" step="any" name="mr" value="{{form_values.MR}}" required="required"><br>
    Skin Wettedness:<br>
    <input type="number" step="any" name="w" value="{{form_values.w}}" required="required"><br>
    Air Velocity:<br>
    <input type="number" step="any" name="v" value="{{form_values.v}}" required="required"><br>  
    Sitting or Standing? Sitting = 0.7, Standing = Eric Forgot:<br>
    <input type="number" step="any" name="Ar_Ad" value="{{form_values.Ar_Ad}}" required="required"><br>     
    Emmisitivity of Skin:<br>
    <input type="number" step="any" name="E" value="{{form_values.E}}" required="required"><br>

    <input type="submit" value="Submit">
  </fieldset>
</form>

<body>
<img src='{{graph1}}' alt="my plot"></img>

</body>