<!doctype html>
<title>Hello from Flask</title>
<h1>Wow</h1>



<form method="POST">
  <fieldset>
    <legend>Data:</legend>
    Metabolic Rate:<br>
    <input type="text" name="mr" value="69.8"><br>
    w:<br>
    <input type="text" name="w" value="0.06"><br>
    v:<br>
    <input type="text" name="v" value="0.1"><br>
    LR:<br>
    <input type="text" name="LR" value="16.5"><br>     
    Ar_Ad:<br>
    <input type="text" name="Ar_Ad" value="0.7"><br>     
    E:<br>
    <input type="text" name="E" value="0.98"><br>

    <input type="submit" value="Submit">
  </fieldset>
</form>

<body>
<img src='{{graph1}}' alt="my plot"></img>

</body>