<!doctype html>

<html lang="en">
<head>

  <!-- Basic Page Needs
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta charset="utf-8">
  	<title>Psycho about Psychro</title>
  	<meta name="description" content="">
  	<meta name="author" content="">

  <!-- Mobile Specific Metas
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->

  	<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>


  <!-- CSS
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  	<link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">



      <!-- JS
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/hello.js') }}" ></script>
        <script type = "text/javascript"  src = "{{ url_for('static', filename = 'js/chartScroll.js') }}" ></script>

  <!-- Favicon
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>

<body class="sans-serif ">

<div class="bg-black-90 w-100 ph3 pv3 pv4-ns ph4-m ph7-l">
<h1 class="f2 f1-l fw2 white-90 mb0 lh-title ph4-l">Psychrometric Chart</h1>
</div>




<div class = "ph7-l">
<form method="POST" class="pa4 black-80">
	
	<label for="name" class="f6 b db mb2">Metabolic Rate [met] <span class="normal black-60">0.8 = asleep; 1.2 = office work; 2.0 = brisk walk</span></label>
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" min="0" step="any" name="mr" value="{{form_values.MR}}" required="required">

	
	<label for="name" class="f6 b db mb2">Skin Wettedness <span class="normal black-60">Minimum 0.06 (dry) to maximum 0.8 (sweaty).</span></label>
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" min="0.06" max="0.8" step="any" name="w" value="{{form_values.w}}" required="required">
	
	<label for="name" class="f6 b db mb2">Air Speed [m/s] <span class="normal black-60">Minimum 0, maximum 10. Note: for values < 0.2 m/s use natural convection solver.</span></label>
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" min="0" max="10" step="any" name="v" value="{{form_values.v}}" required="required">  
	
	<label for="name" class="f6 b db mb2">T<sub>air</sub> - T<sub>MRT</sub> [<span>&#176;</span>C] <span class="normal black-60"> Minimum -10, maximum 10. Note: for values <span>&#8800;</span> 0 solve for wind speed and ignore 'Air Speed' input. </span></label>
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" min="-10" max="10" step="any" name="dep" value="{{form_values.dep}}" required="required"> 
    
    <label for="name" class="f6 b db mb2">Emissivity of Skin <span class="normal black-60">Default value 0.98. Minimum 0.90, maximum 1. </span></label>    
    <input class="input-reset ba b--black-20 pa2 mb2 db w-100" type="number" min="0.9" max="1" step="any" name="E" value="{{form_values.E}}" required="required">

    <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6" type="submit" value="Submit">

</form>

<img src='{{graph1}}' alt="my plot"></img>

<div>
    {% if new_values %}
 <script type="text/javascript">
   scrollMobile();
</script>
    {% endif %}
</div>

</div>

<footer class="pa4 pa5-l black-70 bt b--black-10">
  <div class="mb4-l cf">

<!--     <h1 class="fl w-100 pv0 f6 fw6 ttu tracked mb4">Made By</h1> -->
    <article class="fl w-100 dib-ns w-auto-ns mr4-m mr5-l mb4 pr2 pl0-ns">


      <div class="f5 pb2 f4-l fw3"> <a href="https://www.sciencedirect.com/science/article/pii/S1876610217333672" target = "_blank" class="black-70 link dim"> References</a> </div>
      <span class="f7 f6-l db black-70 pb1">Eric Teitelbauma, Prageeth Jayathissab, Clayton Miller, Forrest Meggers</span>
            <span class="f7 f6-l db black-70 pb1">Design with Comfort:  Enhancing the psychrometricchart with radiation and convection dimensions</span>
      <span class="f7 f6-l db black-70">In Review</span>
      <span class="f7 f6-l db black-70"></span>
 

    </article>

    <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l mb4 pr2 pl0-ns">
      <div class="f5 pb4 f4-l fw6"> <a href="https://www.budslab.org" target = "_blank" class="black-70 link dim"> Budslab</a> </div>
      <span class="f7 f6-l db black-70">Clayton Miller</span>
      <span class="f7 f6-l db black-70">National University of Singapore</span>
      <span class="f7 f6-l black-70">Singapore </span>

      <a class="f6 db fw6 pv3 black-70 link dim" title="Call SF" href="mailto:clayton@nus.edu.sg">
        clayton@nus.edu.sg
      </a>
    </article>
    <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l mb4 pr2 pl0-ns">

      <div class="f5 pb4 f4-l fw6"> <a href="https://chaos.princeton.edu/" target = "_blank" class="black-70 link dim"> CHAOS Lab</a> </div>
      <span class="f7 f6-l db black-70">Forrest Meggers</span>
      <span class="f7 f6-l db black-70">
        Princeton Unversity
      </span>
      <span class="f7 f6-l di black-70">
        Princeton, NJ, USA
      </span>
      <a href="mailto:fmeggers@princeton.edu" class="f6 db fw6 pv3 link dim black-70" title="Call the LA office.">
        fmeggers@princeton.edu
      </a>
    </article>




    
  
  </div>

  <div class="dt dt--fixed w-100" >
    <div class="dn dtc-ns v-mid">
      <p class="f7 black-70 dib pr3 mb3">
        Copyright © Chaotic-Buds 2019
      </p>
    </div>

    <div class="db dtc-ns black-70 tc tr-ns v-mid">

      <a href="https://github.com/buds-lab/psychrometric-chart-makeover" class="link dim dib mr3 black-70" title="Git Source Code" target="_blank">
          <i class="fab fa-github fa-2x"></i>
      </a>

      <a href="https://www.researchgate.net/publication/319016822_Expanded_psychrometric_landscapes_for_radiant_cooling_and_natural_ventilation_system_design_and_optimization" class="link dim dib mr3 black-70" title="Git Source Code" target="_blank">
          <i class="fab fa-researchgate fa-2x"></i>
      </a>



    </div>
  </div>
  <div class="db dn-ns">
    <p class="f7 black-70 mt4 tc">
      Copyright © Chaotic-Buds 2019
    </p>
  </div>
</footer>
</body>

</html>